header{
    display: flex;
    height: 100px;
    align-items: center;
    background-color: black;
}

.logoHeader{
    width: 160px;
    height: 100px auto;
    padding: 360%;
}

footer{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color:rgb(41, 76, 131)
}

.logosNetworkings{
    height: 40px;
    width: 40px;
    margin: 30px;
}

body{
    margin: 0% auto;
}

nav{
    float: left;
    padding-left: 70%;
}

nav ul li{
    list-style:none;
    overflow:hidden; 
  }

nav ul li a{
    display: flex;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li:hover {
    background: #eca023;
}