header{
    display: flex;
    height: 100px;
    align-items: center;
    background-color: black;
}

.logoHeader{
    width: 160px;
    height: 100px auto;
    padding-left: 360%;
}

footer{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color:#be790a;
}

.logosNetworkings{
    height: 40px;
    width: 40px;
    margin: 30px;
}

body{
    margin: 0%;
}

nav{
    float: left;
    padding-left: 70%;
}

nav ul li{
    list-style:none;
    overflow:hidden; 
  }

nav ul li a{
    display: flex;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li:hover {
    background: #eca023;
}

h1{
    color: white;
    background-color: #de8900;
    height: 50px;
    margin: 0%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    background-image: url(../img/backgroundPlanets.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.card-group{
    background-color: rgba(0, 0, 0, 0.804);
    margin: 100px;
    display:flex;
    justify-content: center;
}

.card{
    margin: 20px;
    color:aqua;
    font-size: 20px;
    justify-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-img-top{
    width: 200px;
    height: 200px auto;
    border-radius: 30px;
}

.planets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}