header{
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
}

.logoHeader{
    width: 160px;
    height: 100px auto;
    padding-left: 360%;
}

footer{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color:#be790a;
}

.logosNetworkings{
    height: 40px;
    width: 40px;
    margin: 30px;
}

body{
    margin: 0% auto;
}

.card-group{
    background-color: rgba(0, 0, 0, 0.804);
    border-radius: 30px;
    margin: 30px;
}

.card{
    margin: 20px;
    color:aqua;
    font-size: 20px;
    justify-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-img-top{
    width: 100px;
    height: 120px auto;
}

.Card-body{
    margin: 10px;
}

.card-text{
    font-size: 15px;
    color: white;
    background-color: #de8900;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../img/backgroundCharacter.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

nav{
    float: left;
    padding-left: 70%;
}

nav ul li{
    list-style:none;
    overflow:hidden; 
  }

nav ul li a{
    display: flex;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li:hover {
    background: #eca023;
  }

  h1{
    color: white;
    background-color: #de8900;
    height: 50px;
    margin: 0% auto;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }