header{
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
}

.logoHeader{
    width: 160px;
    height: 100px auto;
    padding-left: 360%;
}

footer{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color:rgb(41, 76, 131)

}

.logosNetworkings{
    height: 40px;
    width: 40px;
    margin: 30px;
}

body{
    margin: 0% auto;
}

.card-group{
    background-color: aqua;
    border-radius: 30px;
    margin: 30px;
}

.card{
    margin: 20px;
}

.card-img-top{
    background-color: antiquewhite;
    width: 100px;
    height: 120px auto;
}
.Card-body{
    background-color:greenyellow;
    margin: 10px;
}

.card-title{
    font-size: 80px;
    background-color: blue;
    size: 50px;
}

.card-text{
    font-size: 15px;
    color:azure;
    background-color: goldenrod;
}
.allCards{
    display: flex;
    justify-content: center;
    
}
.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: blueviolet;
}

nav{
    float: left;
    padding-left: 70%;
}

nav ul li{
    list-style:none;
    overflow:hidden; 
  }

nav ul li a{
    display: flex;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li:hover {
    background: #eca023;
  }
